<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="'My first website">
    <meta name="keywords" content="HTM,CSS,SmartNinja,coding,school">

    <link rel="stylesheet" href="static/css/style.css">

    <title>Julia Kramskoy Fakebook updated!!</title>
</head>
<body>
    <h1><b><i>FAKEBOOK</i></b></h1>
    Search: <input type="text"/> <button>Search by name</button>
    <h2><b>Julia Kramskoy</b></h2>
    <img src="static/img/fakebook.jpg" title="my photo" height="380" width="360">
    <br>
    <br>
    <button> Add a friend</button> <button> Edit Profile </button>
    <br>
    <br>
    <div>
    <p><b>City:</b> Winnipeg</p>
    <p><b>Age:</b> 20+</p>
    <p><b>Education:</b> Bookkeeper</p>
    <p><b>Hobby:</b> Pick mushrooms</p>
    <p><b>FB friends: </b>546</p>
    </div>
 </body>
 </html>
